
<p>
  <b>Name:</b>
  <%= @post.name %>
</p>
 
<p>
  <b>Title:</b>
  <%= @post.title %>
</p>
 
<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Photo:</b>
<%= image_tag @post.photo.url(:medium) %>
</p>

<h2>Comments:</h2>
<%= render @post.comments %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
 
 
<%= link_to 'Edit post', edit_post_path(@post) %> |
<%= link_to 'Back to posts', posts_path %> |